a {
	text-decoration: none;
	color: inherit;
}

p a {
	text-decoration: underline;
	text-decoration-color: inherit;
}

h {
	font-size: 2em;
	font-weight: 700;
}

body {
	background-color: #e0e0e0;
	font-size: 12pt;
	font-weight: 400;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	text-decoration: none;
	text-rendering: optimizeSpeed;
	color: #363636;
	text-decoration-color: #e0e0e0;
}
