a {
	text-decoration: none;
	color: inherit;
}

p a {
	text-decoration: underline;
	text-decoration-color: inherit;
}

h {
	font-size: 2em;
	font-weight: 700;
}

body {
	background-color: #303036;
	font-size: 12pt;
	font-weight: 400;
	font-family: "Segoue UI", sans-serif;
	text-decoration: none;
	text-rendering: optimizeSpeed;
	color: #e0e0e0;
	text-decoration-color: #e0e0e0;
}

.social-link {
	
}

.social-icon {
	height: 5%;
	max-height: 2em;
	margin:0 0.25em;
}
